{{!-- 
<div class="card">
    <div class="card-header">

        <h2><a class="link" href="/recipes/{{id}}">{{recipe.name}}</a></h2>
       
        <ul class='ingrediants'>
        {{#each recipe.ingredients}}
            <li>
                {{this}}
            </li>
        {{/each}}
        </ul>
    </div>
</div> --}}

{{!-- <ol class='directions'>
    {{#each recipe.direction}}
        <li>
            {{this}}
        </li>
    {{/each}}
</ol>

      <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
        <p class="card-body">{{recipes_content}}</p>
</div> --}}

<article class="post">
    <div class="title">
        <a href="{{recipe_url}}" target="_blank">{{title}}</a>
        <span>({{format_url post_url}})</span>
    </div>
    <div class="meta">
        {{vote_count}} {{format_plural "point" vote_count}} {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>

