<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/recipes/{{id}}">{{name}}</a></h4>
       <h5>{{description}}</h5>
      <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
        <p class="card-body">{{recipes_content}}</p>
</div>