<<<<<<< HEAD
<article class="recipes">
  {{#each recipes as |recipes|}}
  
    {{> recipes-info recipes }}
  
  {{/each}}

</article>

=======
{{#each Recipe as |Recipe|}}
<article class="post">
  <div class="title">
  <a href="/recipe/{{id}}">{{name}}</a>
  <p>({{description}})</p>
</div>
</article>
{{/each}}

<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>
>>>>>>> origin/develop
