{{!-- <div style="display: flex;">
      <section class="">
      <img src="../sadness.jpg" alt="">
    </section>
  {{#each Recipe as |Recipe|}}
  <article class="post">
    <div class="title">
    <a href="/recipe/{{id}}">{{name}}</a>
    <p>({{description}})</p>
  </div>
  </article>
  {{/each}}
</div> --}}
<div class="w3-container w3-center">
<div class="row">
{{#each Recipe as |Recipe|}}
<div class="w3-container column" id="rcorners2">
  <h2 class="w3-center"><a href="/recipe/{{id}}" class="eleven">{{name}}</a></h2>

  <div style="width:95%">
    <img src="https://www.cookingclassy.com/wp-content/uploads/2021/10/beef-stew-30.jpg" alt="Alps" style="width:70%" class="w3-card-4">
    <div class="w3-container">
      <p>{{description}}</p>
    </div>
  </div>
</div>
{{/each}}
</div>
</div>